/* First section  Responsive code starts here */
@media (max-width: 1760px){
    .section1 .float-right {
        right: 0;
    }
}
@media (max-width: 1472px){
    .section1 .float-right .line,
    .section1 .float-right .line2{
        display: none;
    }
    .section1 .float-right{
        flex-direction: row;
        top: -200px;
        left: 50%;
        right: 40%;
    }
}
@media(max-width: 865px){
    header nav{
        gap: 80px;
    }
}
@media( max-width: 700px){
    header nav .burgerbar {
        display: block;
    } 
    header .header-nav .header-ul .header-li{
        display: none !important;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    header .header-nav {
        width: 100%;
        align-items: center;
    }
}
@media (max-width: 645px){
    .section1 .float-right{
        display: none;
    }
}