@media (max-width: 1760px){
    .section1 .float-right {
        right: 0;
    }
}
@media (max-width: 1753px){
    footer .content-wrapper7 .top-footer{
        gap: 64px;
    }
    footer .content-wrapper7 .top-footer .footer-line{
        width: 800px;
    }
}
@media (max-width: 1680px){
    .section3 .content-wrapper3 .inner-content-wrapper3 .left .paragraph-div:nth-child(1){
    width: 600px;
}
.section3 .content-wrapper3 .inner-content-wrapper3 .left .paragraph-div:nth-child(2){
    width: 600px;
}
    .section3-GameLogo{
        width: 550px;
    }
    .content-wrapper3{
        justify-content: center;
        justify-items: center;
        gap: 24px;
    }
}
@media (max-width: 1515px){
    .section2 .content-wrapper2 .game-character-parent {
        gap: 48px;
    }
    .section2 .content-wrapper2 .game-character-parent .first-descriptionDiv h5{
        width: 442px;
    }
    .section2 .content-wrapper2 .game-character-parent .first-descriptionDiv p{
         width: 420px;
    }
}
@media (max-width: 1472px){
    .section1 .float-right .line,
    .section1 .float-right .line2{
        display: none;
    }
    .section1 .float-right{
        flex-direction: row;
        top: -200px;
        left: 50%;
        right: 40%;
    }
}

@media(max-width: 1385px){
    footer .content-wrapper7 .top-footer{
        gap: 32px;
    }
    footer .content-wrapper7 .top-footer .footer-line{
        width: 700px;
    }
    footer .content-wrapper7 .top-footer .footer-icons{
        gap: 24px;
    }
    footer .content-wrapper7 .top-footer h3 {
        font-size: 20px;
    }
}
@media(max-width: 1200px){
    .inner-content-wrapper3 {
        flex-direction: column !important;
        gap: 100px;
    }
    .inner-content-wrapper3 .right {
        gap: 100px;
    }
    .desktop-hidden-icons{
        display: none;
    }
    .section3-p-hide{
        display: none;
    }
    .section5-icons-div{
        display: none;
    }
    .inner-content-wrapper3 .left{
        flex-direction: column-reverse;
    }
    .inner-content-wrapper3 .left .mainBtn2{
        display: none;
    }
    .section3-mobile-div{
        display: block;
        gap: 48px;
        align-items: center;
    }
}
@media (max-width: 1170px){
    .section1 header nav {
        gap: 80px;
    }
    footer .content-wrapper7 .top-footer{
        gap: 32px;
    }
    footer .content-wrapper7 .top-footer .footer-line{
        width: 600px;
    }
    footer .content-wrapper7 .top-footer .footer-icons{
        gap: 20px;
    }
    footer .content-wrapper7 .top-footer .footer-icons img{
        height: 24px;
        width: auto;
    }
    footer .content-wrapper7 .top-footer h3 {
        font-size: 20px;
    }
}
@media (max-width: 1030px){
    footer .content-wrapper7 .top-footer{
        gap: 24px;
    }
    footer .content-wrapper7 .top-footer .footer-line{
        width: 300px;
    }
}
@media(max-width: 935px){
    .section2 .content-wrapper2 .game-character-parent .first-descriptionDiv h5{
        font-size: 22px;
    }
    .section2 .content-wrapper2 .game-character-parent .first-descriptionDiv h2{
        font-size: 32px;
    }
    .section2 .content-wrapper2 .game-character-parent .first-descriptionDiv p{
        font-size: 18px;
    }
    .section2 .content-wrapper2 .game-character-parent .game-character {
        height: 400px;
        width: auto;
    }
}
@media(max-width: 886px){
    .section3 .outer-container .content-wrapper3 h2{
        font-size: 32px;
        gap: 48px;
        justify-content: center;
    }
}
@media(max-width: 865px){
    header nav{
        gap: 80px;
    }
}
@media(max-width: 800px){
    .section2 .content-wrapper2 .game-character-parent{
        display: none;
    }
    .section2 .content-wrapper2 .mobile-character{
        display: block;
    }
    .section2 .content-wrapper2 .mobile-character .flex img {
        height: 370px;
        width: auto;
    }
    .section2 .content-wrapper2 .mobile-character p{
        width: 430px;
        font-size: 16px;
    }
    .section2 .content-wrapper2 .mobile-character .flex .character-heading h2,
    .section2 .content-wrapper2 .mobile-character .flex .character-heading h5{
        width: 250px;
        font-size: 18px;
    }
}
@media (max-width: 731px){
    footer .content-wrapper7 .top-footer{
        gap: 16px;
    }
    footer .content-wrapper7 .top-footer .footer-line{
        width: 250px;
    }
    footer .content-wrapper7 .top-footer{
        max-width: 650px;
    }
    footer .content-wrapper7 .top-footer .footer-icons{
        gap: 16px;
    }
    footer .content-wrapper7 .top-footer .footer-icons img{
        height: 20px;
        width: auto;
    }
    footer .content-wrapper7 .top-footer h3 {
        font-size: 14px;
    }
}
@media( max-width: 700px){
    header nav .burgerbar {
        display: block;
    } 
    header .header-nav .header-ul .header-li{
        display: none !important;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    header .header-nav {
        width: 100%;
        align-items: center;
    }
}
@media (max-width: 680px){
    .section1 .content-wrapper1 .heading h1{
        font-size: 20px;
        width: 375px;
    }
    .section1 .content-wrapper1 .heading p {
        width: 327px;
        font-size: 18px;
    }
}
@media (max-width: 645px){
    .section1 .float-right{
        display: none;
    }
    .section3 .outer-container .content-wrapper3 .inner-content-wrapper3 .left .paragraph-div .section3-p{
        width: 327px;
        font-size: 14px;
    }
}
@media(max-width: 555px){
    footer .content-wrapper7 .top-footer{
        max-width: 550px;
    }
}
@media (max-width: 550px){
    .section2 .content-wrapper2 .mobile-character {
        /* padding-right: 24px;
        padding-left: 24px; */
        padding: 24px;
    }
    .section2 .content-wrapper2 .mobile-character .flex img {
        height: 230px;
        width: auto;
    }
    .section2 .content-wrapper2 .mobile-character p{
        width: 320px;
        font-size: 14px;
    }
    .section2 .content-wrapper2 .mobile-character .flex .character-heading h2,
    .section2 .content-wrapper2 .mobile-character .flex .character-heading h5{
        width: 194px;
        font-size: 16px;
    }
}
@media(max-width: 455px){
    footer .content-wrapper7 .top-footer{
        max-width: 450px;
    }
}
@media (max-width: 425px){
    .section1 .content-wrapper1 .heading h1{
        font-size: 16px;
        width: 327px;
    }
    .section1 .content-wrapper1 .heading p {
        width: 327px;
        font-size: 14px;
    }
    
    .section1 .content-wrapper1 .heading .logo-img {
        width: 290px;
        height: auto;
        margin-top: 131px;
    } 
    .section1 .content-wrapper1 .lower-div h3{
        font-size: 16px;
    }
@media(max-width: 375px){
    .section3 .outer-container .content-wrapper3 .inner-content-wrapper3 h2{
        text-align: center;
        gap: 20px;
    }
}
