/* general reset css styles */
html{
    transition: 0.2s ease-in-out;
    scroll-behavior: smooth;
}
*{
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


/* General containers styles */
body{
    overflow-x: hidden;
    background: #080707;
    margin: 0 auto;
}
html {
    transition: 0.2s ease-in-out;
    scroll-behavior: smooth;
}
.outer-container{
    max-width: 1920px;
}
.container{
    padding: 262px;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.hidden{
    display: none;
}
.space-between{
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.center {
    justify-content: center;
}
.column{
    flex-direction: column;
}

/* -------------- Section1 + header styles written here -------------- */
.section1{
    align-items: center;
    height: 1080px;
    background-image: url(../images/main-bg-img.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    padding: 66px;
}
header nav {
    width: 100%;
    gap: 200px;
}
header nav ul{
    gap: 64px;
}
.section1 .heading{
    margin-top: 243px;
    gap: 64px;
}
.section1 .heading .text-div{
    gap: 24px;
}
.section1 .heading img{
    height: 98px;
    cursor: pointer;
}
.section1 .heading .lower-div{
    gap: 8px;
    margin-top: 130px;
}
.section1 .heading a .chevronDown{
    height: 32px;
}