/* general reset css styles */
html{
    transition: 0.2s ease-in-out;
    scroll-behavior: smooth;
}
*{
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


/* General containers styles */
body{
    overflow-x: hidden;
    background: #FFFFFF;
    margin: 0 auto;
}
html {
    transition: 0.2s ease-in-out;
    scroll-behavior: smooth;
}
.outer-container{
    max-width: 1920px;
}
.container{
    padding: 262px;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.hidden{
    display: none;
}
.space-between{
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}