/*  --------------------------- GENERAL RESET: CSS CODE WRITTEN HERE --------------------------- */
html{
    transition: 0.2s ease-in-out;
    scroll-behavior: smooth;
}
*{
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background: #080707;
    margin: 0 auto;
}
/*  --------------------------- GENERAL STYLES: CSS CODE WRITTEN HERE --------------------------- */
.outer-container{
    max-width: 1920px;
}
.container{
    padding: 200px 120px;
}
.hidden{
    display: none;
}
.width100{
    width: 100%;
}
.relative {
    position: relative;
}
.absolute{
    position: absolute;
}
.gap120{
    gap: 120px;
}
.gap80{
    gap: 80px;
}
.gap64{
    gap: 64px;
}
.gap48{
    gap: 48px;
}
.gap24{
    gap: 24px;
}
.gap16{
    gap: 16px;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.grid-row {
    grid-auto-flow: row;
}
.grid-column {
    grid-auto-flow: column;
}
.space-between{
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.row-reverse{
    flex-direction: row-reverse;
}
.align-start{
    align-items: flex-start;
}
.align-center{
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
.center {
    justify-content: center;
}
.column{
    flex-direction: column;
}

/*  --------------------------- SECTION 1 + HEADER: CSS CODE WRITTEN HERE --------------------------- */
.section1{
    align-items: center;
    background-image: url(../images/1-sec-BGimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.section1 .float-right {
    position: absolute;
    align-items: center;
    gap: 32px;
    height: 947px;
    right: 120px;
    top: 84px;
}
/* fixed to right div */
.section1 .float-right .line {
    height: 338px;
    width: 1px;
    border: 1px solid rgba(255, 251, 250, 0.24);
    margin-right: -152px;
}
.section1 .float-right .line2{
    height: 32px;
    margin-right: -152px;
    width: 1px;
    border: 1px solid rgba(255, 251, 250, 0.24);
}
.section1 .float-right .section1-polygon {
    cursor: pointer;
    padding: 32px;
    overflow: hidden;
    background:transparent;
    width: 16px;
    height:16px;
    transform: rotate(-30deg) skewX(30deg) scaleY(.866);
}
.section1 .float-right .section1-polygon:before {
    position: absolute;
    right: 6.7%;
    bottom: 0;
    left: 6.7%;
    top: 0;
    transform: scaleY(1.155) skewX(-30deg) rotate(30deg);
    background: rgba(255, 251, 250, 0.16);
    content: '';
}

header{
    padding: 66px;
}
header nav {
    width: 100%;
    gap: 200px;
}
header nav ul{
    gap: 64px;
}
.section1 .content-wrapper1 {
    padding-bottom: 120px;
}
.heading {
    gap: 134px;
}
.heading .logo-img{
    margin-top: 169px;
}
.section1 .content-wrapper1 {
    margin-top: 243px;
    gap: 64px;
}
.section1 .content-wrapper1 .heading .text-div{
    gap: 24px;
}
.section1 .heading img{
    height: 98px;
    cursor: pointer;
}
.section1 .content-wrapper1 .heading .lower-div{
    gap: 8px;
    margin-top: 130px;
    margin-bottom: 120px;
}
.section1 .heading a .chevronDown{
    height: 32px;
}

/*  --------------------------- SECTION 2: CSS CODE WRITTEN HERE --------------------------- */
.section2{
    padding: 64px;
    align-items: center;
}
.section2 .content-wrapper2{
    align-items: center;
}
.section2 .content-wrapper2 .first-descriptionDiv p{
    width: 998px;
    margin-top: 24px;
    opacity: 0.48;
}
/*  --------------------------- SECTION 3: CSS CODE WRITTEN HERE --------------------------- */
.section3 .content-wrapper3 {
    gap: 196px;
}
.section3 .content-wrapper3 h2{
    width: 857px;
}

.section3 .content-wrapper3 .inner-content-wrapper3 .left {
     position: relative;
     z-index: 1;
     align-items: flex-start;
     justify-content: start;
     gap: 64px;
}
.section3 .content-wrapper3 .inner-content-wrapper3 .left .paragraph-div:nth-child(1){
    width: 816px;
}
.section3 .content-wrapper3 .inner-content-wrapper3 .left .paragraph-div:nth-child(2){
    width: 816px;
}
.section3 .content-wrapper3 .inner-content-wrapper3 .left .mainBtn2 {
    cursor: pointer;
    position: relative;
    padding: 24px 64px 24px 64px;
    border: 1px solid #FFFBFA;
    /* filter: drop-shadow(4px 4px 0px #FFFBFA); */
    align-items: center;
    gap: 16px;
}
.section3 .content-wrapper3 .inner-content-wrapper3 .left .mainBtn2::before{
    content: '';
    position: absolute;
    top: 0;
    left:0 ;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #FFFBFA;
    border-right: 1px solid #FFFBFA;
    filter: drop-shadow(4px 4px 0px #FFFBFA);
    z-index: -1;
}
.section3 .content-wrapper3 .inner-content-wrapper3 .left .upcoming-games-text-bg-img {
    position: absolute;
    z-index: 0;
    left: 35%;
    top: 20%;
}
.section3 .content-wrapper3 .inner-content-wrapper3 .left  .section5-icons-div {
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
#playstation, #xbox, #steam{
    opacity: 0.4;
    transition: all 0.5ms linear 0.5ms;
}
#playstation:hover,
#xbox:hover, 
#steam:hover
{
    opacity: 1;
}
.section3 .content-wrapper3 .inner-content-wrapper3 .right{
    position: relative;
}
.section3 .content-wrapper3 .inner-content-wrapper3 .right .main-img-div .main-img{
    position: relative;
}
.section3 .content-wrapper3 .inner-content-wrapper3 .right .play-button2{
    position: absolute;
    left: 40%;
    top: 20%;
}
/* game grid building grid are */
.game-grid {
    display: grid;
    height: 737px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 16px;
    grid-template-areas:
        "content-1 content-1 content-1 content-1"
        " content-2 content-3 content-4 content-5"
  }
  .content-1 {
    grid-area: content-1;
    grid-row: 1/2;
  }
  .content-2 {
    grid-area: content-2;
    grid-row: 2/2;
  }
  .content-3 {
    grid-area: content-3;
    grid-row: 2/2;
  }
  .content-4 {
    grid-area: content-4;
    grid-row: 2/2;
  }
  .content-5 {
    grid-area:content-5;
    grid-row: 2/2;
  }
  .game-img{
    cursor: pointer;
    transition: all 0.5ms linear 0.5ms;
    border: 2px solid #080707;
  }
  .main-img-div{
    cursor: pointer;
    transition: all 0.5ms linear 0.5ms;
    border: 2px solid #080707;
  }
  .game-img:hover{
    border: 2px solid rgba(255, 89, 71, 1);
  }

/*  --------------------------- SECTION 4: CSS CODE WRITTEN HERE --------------------------- */
.section4 .content-wrapper4 {
    gap: 154px;
}
.section4 .content-wrapper4 nav ul li{
    gap: 8px;
    transition: all 0.5ms linear 0.5ms;
}
.section4 .content-wrapper4 nav ul li{
    height: 16px;
}
.section4 .content-wrapper4 nav ul li a{
    border-bottom: 16px solid #080707;
    position: relative;
    transition: 0.5s;
}
.hover-div{
    position: relative;
    transition: 0.3s;
    height: 16px;
    /* background-color: red; */
    background: radial-gradient(45.66% 55.87% at 50% 50%, #E1261C 0%, #E22C1F 11.52%, #E53826 25%, rgba(231, 72, 49, 0.7243) 50.22%, rgba(235, 106, 81, 0.18) 100%);
}
.section4 .content-wrapper4 nav ul li a:hover{
    transform: translateY(-20px);
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #E6E1E0;
    opacity: 1;
}
.section4 .content-wrapper4 nav ul li a:hover + div{
    transform: translateY(-40px);
    flex: none;
    order: 0;
    flex-grow: 0;
    display: block;
}
.section4 .content-wrapper4 .content-flex-wrapper4 {
    align-items: flex-start;
    position: relative;
}
.section4 .content-wrapper4 .content-flex-wrapper4 .switch{
    cursor: pointer;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 60%;
}
.section4 .content-wrapper4 .content-flex-wrapper4 .left,
.section4 .content-wrapper4 .content-flex-wrapper4 .right{
    gap: 64px;
}
.section4 .content-wrapper4 .about-us-div{
    padding: 64px 48px;
    background: rgba(255, 251, 250, 0.04);
}
.section4 .content-wrapper4 .about-us-div p {
    width: 1424px;
}
.alexandre-border{
    border: 8px rgba(227, 56, 38, 1);
}
#Dao{
    display: none;
}
#daoImg{
    height: 360px;
    width: auto;
    filter: grayscale(100%);
}
/*  --------------------------- FOOTER: CSS CODE WRITTEN HERE --------------------------- */
footer .content-wrapper7 {
    gap: 64px;
}
footer .content-wrapper7 .top-footer{
    align-items: center;
    gap: 80px;
}
footer .content-wrapper7 .top-footer .footer-line{
    width: 1131px;
    height: 2px;
    background: #FFFBFA;
    opacity: 0.08;
}
footer .content-wrapper7 .top-footer .footer-icons {
    align-items: 32px;
    gap: 32px;
}
footer .content-wrapper7 .lower-footer{
    gap: 48px;
    align-items: center;
    justify-content: center;
}
footer .content-wrapper7 .lower-footer .lower-text-div div {
   align-items: center;
   flex-direction: column-reverse;
}
#first {order: 3;}
#second {order: 2;}
#third {order: 1;}